.buttonmargin{
  margin-bottom: 100px;
}
.arriveButton{
  width: 500px;
  height: 100px;
  text-align: left;
  padding-left: 20px;
  border: 0px solid #444;
  border-width: 0px 0px 0px 0px;
  padding: 10px 30px 10px 30px;
  box-shadow: 0px 1px 15px  rgba(0%,0%,0%,0.3);
  font-size: 20px;
}
.arriveButton::before {
  content: "";
  display: inline-block;
  position: absolute;
  margin-left: -30px;
  margin-top: -36px;
  width: 10px;
  height: 100px;
  background-color: #FF8567;
}
.arriveButton::after {
  content: "";
  background-image: url('./image/arrow_forward.svg');
  display: inline-block;
  position: absolute;
  margin-left: 240px;
  margin-top: 0px;
  background-repeat: no-repeat;
  width: 7%;
  height: 45%;
}
.beforeButton{
  width: 500px;
  height: 100px;
  text-align: left;
  padding-left: 20px;
  border: 0px solid #444;
  border-width: 0px 0px 0px 0px;
  padding: 10px 30px 10px 30px;
  box-shadow: 0px 1px 15px  rgba(0%,0%,0%,0.3);
  font-size: 20px;
}
.beforeButton::before {
  content: "";
  display: inline-block;
  position: absolute;
  margin-left: -30px;
  margin-top: -36px;
  width: 10px;
  height: 100px;
  background-color: #FF8567;
}
.beforeButton::after {
  content: "";
  background-image: url('./image/arrow_forward.svg');
  display: inline-block;
  position: absolute;
  margin-left: 230px;
  margin-top: 0px;
  background-repeat: no-repeat;
  width: 7%;
  height: 45%;
}
#homeButton{
  font-weight: 500;
  font-size: 20px;
  color: #5D5D5D;
}

@media screen and (max-width: 1300px) {
  .beforeButton{
    width: 400px;
  }
  .beforeButton::after {
    margin-left: 130px;
    width: 8%;
  }
  .arriveButton{
    width: 400px;
  }
  .arriveButton::after {
    margin-left: 140px;
    width: 8%;
  }

}
@media screen and (max-width: 1024px) {
  .beforeButton{
    width: 300px;
  }
  .beforeButton::before {
    margin-top: -35px;
}
  .beforeButton::after {
    margin-left: 50px;
    width: 10%;
  }
  .arriveButton{
    width: 300px;
  }
  .arriveButton::before {
    margin-top: -35px;
}
  .arriveButton::after {
    margin-left: 60px;
    width: 10%;
  }

}
