.button-container{
  position: absolute;
  left: -35%;
  top: 35%;
}
.challenge-button-container{
  position: absolute;
  left: -35%;
  top: 60%;
}
.welcomeExplanation{
  position: absolute;
  left: 30%;
  top: 12%;
  padding-right: 50px;
}
#welcomeTitle{
  font-size: 32px;
  color: #5B5B5B;
  font-weight: 600;
}
#welcomeDesc{
  width: 500px;
  color: #7F7F7F;
  font-size: 16px;
}

.beforeExplanation{
  position: absolute;
  left: 30%;
  top: 35%;
  padding-right: 50px;
}
.arriveExplanation{
  position: absolute;
  left: 30%;
  top: 55%;
  padding-right: 50px;
}
#homeTitle{
  font-size: 24px;
  color: #7F7F7F;
  font-weight: 600;
}
#homeDesc{
  width: 500px;
  color: #7F7F7F;
  font-size: 16px;
}
@media screen and (max-width: 1300px) {
  #welcomeDesc{
    width: 400px;
  }
  #homeDesc{
    width: 400px;
    color: #7F7F7F;
    font-size: 16px;
  }
  .beforeExplanation{
    position: absolute;
    left: 35%;
  }
}
