.button-container{
  position: absolute;
  left: -35%;
  top: 35%;
}
.challenge-button-container{
  position: absolute;
  left: -35%;
  top: 60%;
}
.welcomeExplanation{
  position: absolute;
  left: 30%;
  top: 12%;
  padding-right: 50px;
}
#welcomeTitle{
  font-size: 32px;
  color: #5B5B5B;
  font-weight: 600;
}
#welcomeIdLanguage{
  width: 500px;
  color: #7F7F7F;
  font-size: 16px;
}
#welcomeIdLanguage::after{
  position: absolute;
  top: 100%;
  left: 0%;
  content: '为中国留学生了解墨尔本并融入新城市提供一个独特而有趣的方式';
  font-size: 14px;
}

#welcomeDesc{
  width: 500px;
  color: #7F7F7F;
  font-size: 16px;
}

.beforeExplanation{
  position: absolute;
  left: 30%;
  top: 35%;
  padding-right: 50px;
}
.arriveExplanation{
  position: absolute;
  left: 30%;
  top: 55%;
  padding-right: 50px;
}
#homeTitle{
  font-size: 24px;
  color: #7F7F7F;
  font-weight: 600;
}
#beforeDesc{
  width: 500px;
  color: #7F7F7F;
  font-size: 16px;
}
#beforeDescLanguage{
  width: 500px;
  color: #7F7F7F;
  font-size: 16px;
}
#beforeDescLanguage::after{
  position: absolute;
  top: 100%;
  left: 0%;
  content: '找到适合你的墨尔本最佳居住地指南';
  font-size: 14px;
}
#afterDesc{
  width: 500px;
  color: #7F7F7F;
  font-size: 16px;
}
#afterDescLanguage{
  width: 500px;
  color: #7F7F7F;
  font-size: 16px;
}
#afterDescLanguage::after{
  position: absolute;
  top: 100%;
  left: 0%;
  content: '令人兴奋的3天计划，到达，适应并融入在墨尔本';
  font-size: 14px;
}
#usefulLink{
  position:absolute;
  top:3.1%;
  right:14%;
  margin-left:10px;
  color:white;
  border-radius: 20px;
  background-color: #FF8567;
  padding: 5px 10px 5px 10px;
  font-size: 12px;
  font-weight: 500;
}
@media screen and (max-width: 1300px) {
  #welcomeDesc{
    width: 400px;
  }
  #homeDesc{
    width: 400px;
    color: #7F7F7F;
    font-size: 16px;
  }
  .beforeExplanation{
    position: absolute;
    left: 35%;
  }
}
