#mapBox{
  padding-top: 105px;
  margin-left: 30px;
   width: 500px;
   height: 500px;
   position: absolute;
}

.mapboxgl-map{
  height: 20px;
  width: 20px;
}
#colorlegend{
  height: 10px;
  width: 170px;
  background: linear-gradient(to right, white , #547CDA);
}
#switchButton{
  background: none;
  border-radius: 50px;
  border: none;
  color: white;
  height: 30px;
  margin: 4px;
}
#switchButton:hover{
  background: rgba(0,0,0,0.3);
  border-radius: 50px;
  color: white;
  height: 30px;
margin: 4px;
}
